@import 'components/variables';

.section-welcome-admin {
  width: 100%;
  height: 100px;
  background-image: url(../images/bg-back.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-admin {
  .sidebar {
    border-width: 3px;
    border-style: solid;
    border-image: radial-gradient(circle, #9CD3CD 0%, #BDE7E2 34%, #FFFFFF 94%) 1 100%;
    a {
      color: $gray-light;
      font-weight: 300;
      text-decoration: none;
      transition: all 0.3s;
      &:hover {
        font-weight: 600;
      }
      &.active {
        font-weight: 600;
      }
      p {
        margin-bottom: 2.5rem;
      }
    }
  }
  .content {
    .title {
      font-weight: 600;
      font-size: 1.2rem;
      color: $blue;
    }
    .text-gray {
      font-weight: 400;
      color: $gray;
    }
    .text-gray-light {
      font-weight: 300;
      color: $gray-light;
    }
    .text-gray-bold {
      font-weight: 700;
      color: $gray;
    }
    .img-perfil {
      max-width: 100px;
      border-radius: 5px;
      box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.31);
    }
    .table-perfil {
      tbody {
        tr {
          th {
            font-weight: 300;
            padding-right: 2rem;
            padding-bottom: 1rem;
          }
          td {
            font-weight: 400;
            padding-bottom: 1rem;
          }
        }
      }
    }
    .address {
      p {
        color: #222;
        font-size: 0.8rem;
      }
      a {
        text-decoration: none;
        color: $blue;
        font-size: 0.8rem;
        transition: all 0.3s;
        &:hover {
          color: #000;
        }
      }
    }
    .imgprogressbar {
      position: relative;
      height: 50px;
      margin-bottom: 0.5rem;
      img {
        position: absolute;
        width: 50px;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      img:nth-child(1) {
        left: 5%;
      }
      img:nth-child(2) {
        left: 35%;
      }
      img:nth-child(3) {
        left: 65%;
      }
      img:nth-child(4) {
        left: 95%;
      }
    }
    .progressbar {
      position: relative;
      height: 20px;
      display: flex;
      align-items: center;
      .bar-base {
        position: relative;
        width: 100%;
        height: 5px;
        background: #f2f2f2;
        box-shadow: inset 0 0 5px 0 rgba($color: #000000, $alpha: 0.25);
        border-radius: 2px;
        .bar-check {
          width: 35%;
          height: 5px;
          background: linear-gradient(180deg, #BDE3DF 13%, #D1FFFA 30%, #9DE1DA 67%, #BDE3DF 85%, #97CDC7 100%);
          border-radius: 2px;
          div {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;
            background: #c8c8c8;
            border-radius: 50%;
            box-shadow: inset 0 0 5px 0 rgba($color: #000000, $alpha: 0.25);
          }
          div:nth-child(1) {
            left: 5%;
            background: radial-gradient(circle, #D1FFFA 0%, #9DE1DA 62%, #97CDC7 100%);
          }
          div:nth-child(2) {
            left: 35%;
            background: radial-gradient(circle, #D1FFFA 0%, #9DE1DA 62%, #97CDC7 100%);
          }
          div:nth-child(3) {
            left: 65%;
          }
          div:nth-child(4) {
            left: 95%;
          }
        }
      }
    }
    .textprogressbar {
      position: relative;
      height: 30px;
      span {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        color: $gray;
        font-weight: 700;
      }
      span:nth-child(1) {
        left: 5%;
      }
      span:nth-child(2) {
        left: 35%;
      }
      span:nth-child(3) {
        left: 65%;
      }
      span:nth-child(4) {
        left: 95%;
      }
    }
    .pedido {
      border-top: 1px solid #BDE3DF;
      margin-top: 1rem;
      padding-top: 1rem;
      padding-left: 1rem;
    }
    .pedido-title {
      font-weight: 600;
      font-size: 1.5rem;
      color: $blue;
      border-bottom: 1px solid #BDE3DF;
    }
    .codigos {
      width: 100%;
      @media (min-width: 600px) {
        width: 50%;
      }
      @media (min-width: 992px) {
        width: 40%;
      }
    }
    .address-pedido p {
      font-size: 1rem;
    }
  }
  .bg-mipedido-section {
    height: 3rem;
    background-image: url(../images/bg-mipedido-section.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #aefaf294;
  }
  .form-check-label {
    width: 30%;
  }
  .radiobtn {
    width: 100%;
    opacity: 0.5;
  }
  input[type="radio"]:checked+label .radiobtn {
    color: $white;
    background: linear-gradient(134.42deg, #9CD3CD 0%, #9CD3CD 34%, #9CD3CD 100%);
    opacity: 1;
  }
  input[type="radio"] {
    display: none;
  }
  .pasarela-pago {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #BDBDBD;
    background-color: #f7f7f7;
    border-radius: 2px;
  }
  .content-ayuda {
    width: 100%;
    height: calc(100vh - 250px);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #BDBDBD;
    background-color: #f7f7f7;
    border-radius: 2px;
  }
}