.section-dishes {
  background: #fff;
  // background: linear-gradient(180deg, #c6c6c6 0%, #c6c6c6 70%,#ebebeb 100%);
  .filter {
    border: 1px solid #e0e0e0;
    background-color: #fbfbfb;
    border-radius: 5px;
  }
  .btn-group {
    button {
      font-weight: 300;
      &:disabled {
        opacity: 1;
      }
    }
    .dropdown-toggle {
      font-weight: 300;
      &:focus {
        box-shadow: none;
      }
    }
  }
  .card .btn {
    width: 80%;
  }
  .tab {
    overflow: hidden;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(134.42deg, #9CD3CD 0%, #9CD3CD 34%, #BDE7E2 100%);
    border-image-slice: 1;
    display: flex;
    flex-wrap: wrap;
    button {
      flex: 20%;
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: .5rem 1rem;
      transition: all 0.3s;
      color: $gray-light;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      &:hover {
        color: $blue;
      }
      &.active {
        background-color: $blue;
        color: $white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
  }
  .tabcontent {
    display: none;
    margin-top: 2rem;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    .content-cards-menu {
      .card {
        border-radius: 5px;
        box-shadow: 0px 7px 10px -6px rgba(0, 0, 0, 0.35);
        transition: all .3s;
        &:hover {
          transform: scale(1.05);
        }
        img {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
        .triangulo {
          position: absolute;
          top: -1px;
          left: -1px;
          z-index: 1;
          width: 0;
          height: 0;
          border-top: 80px solid #A4DFD9;
          border-right: 80px solid transparent;
        }
        .text-triangulo {
          position: absolute;
          top: 15px;
          left: 2px;
          z-index: 2;
          color: #fff;
          transform: rotate(-45deg);
          padding: 1px 0 3px 0;
        }
        .card-title {
          font-size: 1.5rem;
          font-weight: 300;
          color: $gray-light;
        }
        .card-text {
          font-size: 1.5rem;
          color: $gray-light;
        }
      }
    }
    .pagination {
      display: inline-block;
      padding: 0;
      margin: 0;
      li {
        display: inline;
        a {
          color: $gray;
          float: left;
          padding: 8px 16px;
          text-decoration: none;
          &:hover {
            background-color: #bde3df;
          }
          &.active {
            background-color: $blue;
          }
        }
      }
    }
  }
  @-webkit-keyframes fadeEffect {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
  @keyframes fadeEffect {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}