.section-welcome-tienda {
  width: 100%;
  height: 70vh;
  background-image: url(../images/tienda/bg-welcome.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  .content-text-tienda {
    background: linear-gradient(269.35deg, rgba(228,251,248,0.9) 0%, #98d7cf 80%, rgba(175,230,223,0.85) 100%);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    .text-tienda {
      display: flex;
      justify-content: center;
      align-items: center;
      .col-left {
        border-right: 1px solid transparent;
        @media (min-width: 768px) {
          border-right: 1px solid $gray;
        }
      }
      .col-right {
        p {
          color: $gray;
          font-weight: 300;
          text-align: center;
          @media (min-width: 768px) {
            padding-left: 3rem;
            text-align: start;
          }
        }
      }
    }
    .title-tienda {
      font-size: 4rem;
      color: $white;
      font-weight: 100;
      margin-bottom: 0;
      text-align: center;
      @media (min-width: 768px) {
        text-align: start;
      }
    }
  }
}
