<div class="section-diferentes">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-end">
        <img class="wow fadeInUp" src="assets/images/nosotros/title1.png" alt="Title" style="margin-top: -5rem">
      </div>
      <div class="col-12 col-md-4">
        <h2 class="wow fadeInUp">Somos Diferentes</h2>
      </div>
      <div class="col-md-4 text-start">
        <div style="margin-top: -3rem">
          <img class="wow fadeInUp" src="assets/images/nosotros/title2.png" alt="Title">
          <img class="wow fadeInUp" src="assets/images/nosotros/title3.png" alt="Title" style="margin-top: -10rem">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="content-card px-4 h-100">
          <div class="card h-100 wow fadeInUp">
            <div class="text-center p-4">
              <img src="assets/images/nosotros/img-card1.png" alt="Card">
            </div>
            <div class="text-card px-4">
              <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim fuga exercitationem perferendis libero?</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="content-card px-4 h-100">
          <div class="card h-100 wow fadeInUp">
            <div class="text-center p-4">
              <img src="assets/images/nosotros/img-card2.png" alt="Card">
            </div>
            <div class="text-card px-4">
              <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae aspernatur harum recusandae incidunt corrupti iste?</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="content-card px-4 h-100">
          <div class="card h-100 wow fadeInUp">
            <div class="text-center p-4">
              <img src="assets/images/nosotros/img-card3.png" alt="Card">
            </div>
            <div class="text-card px-4">
              <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, dignissimos.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-letter">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 p-5 bg-letter">
        <div class="p-5">
          <p class="mb-3 mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus imperdiet tortor id poat cursus eltortor id poat cursus eleifend. uisque tempor risus</p>
          <p class="mb-3">Quisque tempor risusvamus dapibus imperdiet tortor id poat cursus eleifend. isque tempor risusuisque tempor risusVivamus dapibus imperdiet tortor cursus eleifend.uisque tempor risus.</p>
          <p class="mb-5">Vivamus dapibus imperdiet tortor id poat cursus eleifend. Qui poat cursus eleifend.</p>
          <p class="text-end mb-3">El Equipo Medialuna</p>
        </div>
      </div>
      <div class="col-12 col-md-6 bg-img"></div>
    </div>
  </div>
</div>