<div class="section-welcome-nosotros"></div>
<div class="section-nosotros pt-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-6 ps-md-5 ps-xxl-3">
      <p class="title-nosotros wow fadeInUp">nosotros</p>
    </div>
  </div>
  <div class="content-text-nosotros py-5">
    <div class="container position-relative">
      <div class="row mt-3 mt-md-0">
        <div class="col-12 col-md-6 col-left d-md-none">
          <div class="row">
            <div class="col-6">
              <img class="img-fluid w-100 wow fadeInUp" src="assets/images/nosotros/nosotros1.png" alt="Nosotros">
            </div>
            <div class="col-6">
              <img class="img-fluid w-100 wow fadeInUp delay-200 translateY" src="assets/images/nosotros/nosotros2.png" alt="Nosotros">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <img class="img-fluid w-100 wow fadeInUp delay-400" src="assets/images/nosotros/nosotros3.png" alt="Nosotros">
            </div>
            <div class="col-6">
              <img class="img-fluid w-100 wow fadeInUp delay-600 translateY" src="assets/images/nosotros/nosotros4.png" alt="Nosotros">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 offset-md-6 col-right ps-md-5 ps-xxl-3 mt-3 mt-md-0">
          <p class="wow fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus imperdiet tortor id poat cursus eleifend. Quisque tempor risus Vivamus dapibus imperdiet tortor id poat cursus eleifend. Quisque tempor risus</p>
          <p class="wow fadeInUp">Vivamus dapibus imperdiet tortor id poat cursus eleifend. Quisque tempor risusVivamus dapibus imperdiet tortor id poat cursus eleifend.</p>
          <p class="mb-0 wow fadeInUp">Quisque tempor risusVivamus dapibus imperdiet tortor id poat cursus eleifend. Quisque tempor risusVivamus dapibus imperdiet tortor id poat cursus eleifend. Quisque tempor risusVivamus dapibus imperdiet tortor cursus eleifend. Quisque tempor risus.</p>
        </div>
      </div>
      <div class="row img-desktop d-none d-md-block">
        <div class="col-12 col-md-4 offset-md-1 col-xxl-5 offset-xxl-0 col-left">
          <div class="row">
            <div class="col-6">
              <img class="img-fluid w-100 wow fadeInUp" src="assets/images/nosotros/nosotros1.png" alt="Nosotros">
            </div>
            <div class="col-6">
              <img class="img-fluid w-100 wow fadeInUp delay-200 translateY" src="assets/images/nosotros/nosotros2.png" alt="Nosotros">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <img class="img-fluid w-100 wow fadeInUp delay-400" src="assets/images/nosotros/nosotros3.png" alt="Nosotros">
            </div>
            <div class="col-6">
              <img class="img-fluid w-100 wow fadeInUp delay-600 translateY" src="assets/images/nosotros/nosotros4.png" alt="Nosotros">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>