<div class="section-welcome-nosotros"></div>
<div class="section-nosotros pt-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-6">
      <p class="title-nosotros wow fadeInUp">nosotros</p>
    </div>
  </div>
  <div class="content-text-nosotros py-5">
    <div class="container position-relative">
      <div class="row mt-3 mt-md-0">
        <div class="col-12 col-md-4 offset-md-1 col-left d-md-none">
          <div class="row">
            <div class="col-6">
              <img class="img-fluid w-100 wow fadeInUp" src="assets/images/nosotros/nosotros1.png" alt="Nosotros">
            </div>
            <div class="col-6">
              <img class="img-fluid w-100 wow fadeInUp delay-200 translateY" src="assets/images/nosotros/nosotros2.png" alt="Nosotros">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <img class="img-fluid w-100 wow fadeInUp delay-400" src="assets/images/nosotros/nosotros3.png" alt="Nosotros">
            </div>
            <div class="col-6">
              <img class="img-fluid w-100 wow fadeInUp delay-600 translateY" src="assets/images/nosotros/nosotros4.png" alt="Nosotros">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-5 offset-md-6 col-right mt-3 mt-md-0">
          <p class="mb-4 wow fadeInUp">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus saepe tenetur, illo, omnis dolorum similique rerum officia fuga, magni doloremque corrupti nemo voluptas perferendis quisquam!</p>
          <p class="mb-4 wow fadeInUp">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus saepe tenetur, illo, omnis dolorum similique rerum officia fuga, magni doloremque corrupti nemo voluptas perferendis quisquam!</p>
          <p class="mb-0 wow fadeInUp">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus saepe tenetur, illo, omnis dolorum similique rerum officia fuga, magni doloremque corrupti nemo voluptas perferendis quisquam!</p>
        </div>
      </div>
      <div class="row img-desktop d-none d-md-block">
        <div class="col-12 col-md-4 offset-md-1 col-left">
          <div class="row">
            <div class="col-6">
              <img class="img-fluid w-100 wow fadeInUp" src="assets/images/nosotros/nosotros1.png" alt="Nosotros">
            </div>
            <div class="col-6">
              <img class="img-fluid w-100 wow fadeInUp delay-200 translateY" src="assets/images/nosotros/nosotros2.png" alt="Nosotros">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <img class="img-fluid w-100 wow fadeInUp delay-400" src="assets/images/nosotros/nosotros3.png" alt="Nosotros">
            </div>
            <div class="col-6">
              <img class="img-fluid w-100 wow fadeInUp delay-600 translateY" src="assets/images/nosotros/nosotros4.png" alt="Nosotros">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>