html, body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  color: $gray;
  font-size: 10px;
  @media (min-width: 425px) {
    font-size: 12px;
  }
  @media (min-width: 640px) {
    font-size: 14px;
  }
  @media (min-width: 1366px) {
    font-size: 16px;
  }
  @media (min-width: 1400px) {
    font-size: 18px;
  }
  a {
    text-decoration: none;
  }
}
.container {
  @media (min-width: 1400px) {
    max-width: 1000px;
  }
}
.container {
  @media (min-width: 1600px) {
    max-width: 1200px;
  }
}
.w200px {
  width: 200px;
}
.delay-200 {
  animation-delay: 200ms;
}
.delay-400 {
  animation-delay: 400ms;
}
.delay-600 {
  animation-delay: 600ms;
}
.delay-800 {
  animation-delay: 800ms;
}
.text-blue {
  color: $blue;
}
.text-gray-light {
  color: $gray-light;
}
.text-gray {
  color: $gray;
}
.col-md-25 {
  @media (min-width: 768px) {
    flex: 0 0 auto;
    width: 25%;
  }
}
#redes {
  display: flex;
  a {
    img {
      height: 16px;
    }
  }
  .red {
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    transition-property: color;
    transition-duration: 0.3s;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:before {
      border-radius: 3px;
      width: 30px;
      height: 30px;
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: scaleY(0);
      transform-origin: 50% 100%;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
    &.fb:before {
      background-color: #3b5998;
    }
    &.ig:before {
      background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #bc1888 75%, #833ab4 100%) !important;
    }
    &.ta:before {
      background-color: #00af87;
    }
    &.go:before {
      background: linear-gradient(-120deg, #4285f4, #34a853, #fbbc05, #ea4335);
    }
    &.fb:hover:before,
    &.ig:hover:before,
    &.ta:hover:before,
    &.go:hover:before {
      transform: scaleY(1);
    }
  }
}

.content-cards-menu {
  .card {
    border-radius: 5px;
    box-shadow: 0px 7px 10px -6px rgba(0, 0, 0, 0.35);
    transition: all .3s;
    
    &:hover {
      transform: scale(1.05);
    }
    
    img {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    
    .btn {
      width: 80%;
    }
    
    .triangulo {
      position: absolute;
      top: -3px;
      left: -4px;
      z-index: 1;
    }
    
    .text-triangulo {
      position: absolute;
      top: 15px;
      left: 2px;
      z-index: 2;
      color: #fff;
      transform: rotate(-45deg);
      padding: 1px 0 3px 0;
    }
    
    .card-title {
      font-size: 1.5rem;
      font-weight: 300;
      color: $gray-light;
    }
    
    .card-text {
      font-size: 1.5rem;
      color: $gray-light;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  margin-bottom: 4rem;
  li {
    display: inline-block;
    a {
      color: $gray;
      // float: left;
      padding: 8px 16px;
      text-decoration: none;
      &:hover {
        background-color: #bde3df;
      }
      &.active {
        background-color: $blue;
      }
    }
  }
}

.tab {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  
  button {
    flex: 20%;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: .5rem 1rem;
    transition: all 0.3s;
    color: $gray-light;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    &:hover {
      color: $blue;
    }
    
    &.active {
      color: $blue;
    }
  }
}

.hr-tab {
  margin: 0;
  height: 3px !important;
  background: radial-gradient(circle, #9CD3CD 0%, #BDE7E2 34%, #FFFFFF 94%);
}

.tabcontent {
  display: none;
  margin-top: 2rem;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  
  .content-btn-anadir {
    border: 1px solid lightgray;
    border-radius: 5px;
    
    a {
      width: 80%;
      transform: translateY(-35%);
    }
  }
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}

.filter {
  background-color: #fbfbfb;
  border-radius: 5px;
  & > button {
    height: 30px;
  }
  .btn-group {
    button {
      font-weight: 300;
      &:disabled {
        opacity: 1;
      }
    }
    .dropdown-toggle {
      font-weight: 300;
      height: 30px;
      width: 155px;
      &:focus {
        box-shadow: none;
      }
      &:after {
        display: none;
      }
    }
    .dropdown-menu {
      width: 155px;
      min-width: auto;
      inset: initial !important;
      top: 100% !important;
      right: 0 !important;
      transform: none !important;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top: transparent;
    }
  }
  .label-filter-order{
    border: 1px solid #e0e0e0;
    border-right: none;
  }
  #filter-order {
    border: 1px solid #e0e0e0;
    border-left: none;
  }
  #filter-order.show {
    border-bottom-color: transparent;
    border-bottom-right-radius: 0px;
  }
}

#shopping-cart {
  position: fixed;
  right: -100%;
  top: 65px;
  width: 60vw;
  height: calc(100vh - 65px);
  background: $white;
  padding: 1rem;
  z-index: 1000;
  transition: all 1.5s;
  @media (min-width: 768px) {
    width: 45vw;
  }
  @media (min-width: 1200px) {
    top: 55px;
    width: 25vw;
    height: calc(100vh - 55px);
  }
  .cart-header {
    display: flex;
    justify-content: space-between;
    p {
      font-size: 1.2rem;
      font-weight: 300;
    }
    a {
      text-decoration: none;
      color: $gray-light;
      cursor: pointer;
      &:hover {
        color: $gray;
      }
    }
  }
  .cart-scroll {
    height: calc(100% - 50px);
    overflow-x: hidden;
    overflow-y: auto;
  }
  .cart-content {
    .card {
      text-align: end;
      a {
        font-size: 0.8rem;
        text-decoration: none;
        color: $gray-light;
        margin-right: 5px;
        &:hover {
          color: $gray;
        }
      }
      .card-body {
        text-align: center;
        padding: 0 0.5rem 0;
        h5 {
          font-weight: 300;
          font-size: 0.8rem;
        }
        p {
          font-weight: 400;
          font-size: 1rem;
          margin-bottom: 0;
        }
      }
    }
    .content-cantidad {
      display: inline-block;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, .125);
      #cantidad {
        text-align: center;
        border: none;
        background: transparent;
        margin: 0;
        color: $gray;
        font-size: 1rem;
        width: 2rem;
      }
      #cantidad:focus-visible {
        outline: none;
      }
      #cantidad::-webkit-outer-spin-button,
      #cantidad::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      #mas,
      #menos {
        background: transparent;
        border: none;
        color: $gray;
        font-size: 0.8rem;
      }
    }
  }
  .cart-sugeridos {
    white-space: nowrap;
    overflow-x: auto;
    cursor: grab;
    &::-webkit-scrollbar {
      display: none;
    }
    .card {
      display: inline-block;
      white-space: normal;
      width: 40%;
      .card-body {
        text-align: center;
        padding: 0 0.5rem 0;
        h5 {
          font-weight: 300;
          font-size: 0.8rem;
        }
        p {
          font-weight: 400;
          font-size: 1rem;
          margin-bottom: 0;
        }
        a {
          text-decoration: none;
          color: $blue;
          &:hover {
            color: $gray;
          }
        }
      }
    }
  }
  .cart-total {
    text-align: center;
    p{
      font-size: 1.2rem;
    }
    
  }
}

#modal-suscribe {
  .img-suscribe {
    background-image: url(../images/img-suscribe.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .modal-content {
    background: linear-gradient(180deg, #ffffff 25%, #f6f6f6 52%, #ffffff 100%);
  }
  .modal-header {
    border: none;
    .btn-close {
      background: none;
    }
  }
  .modal-body {
    .title {
      font-weight: 700;
      text-align: center;
      color: $blue;
    }
    .subtitle {
      font-weight: 300;
      text-align: center;
      color: $gray;
    }
    p {
      font-weight: 300;
      color: $gray;
    }
    .small {
      font-size: 0.6rem;
      margin: 0;
      color: $gray;
    }
    form {
      input {
        color: $gray;
        font-weight: 300;
        &:focus {
          outline: none;
          box-shadow: none;
          border-color: $blue;
        }
      }
    }
  }
}