@import 'components/variables';

#navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1030;
  #pre-nav {
    font-size: 0.8rem;
    transition: all 0.3s;
    background-color: #f9f9f9;
    @media (max-width: 1199.98px) {
      display: none;
    }
    & > div {
      margin-right: 10rem;
    }
    a {
      color: $gray;
      text-decoration: none;
      transition: all 0.3s;
      span {
        transition: all 0.3s;
        color: $gray-light;
      }
      &:hover {
        color: $blue;
        span {
          color: $blue;
        }
      }
    }
  }
  
  .navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 0.3s;
    @media (min-width: 1200px) {
      padding-top: 0;
      padding-bottom: 0;
      height: 35px;
    }
    a {
      color: $white;
      font-weight: 400;
    }
    .logo-navbar {
      transition: all 0.3s;
      @media (min-width: 1200px) {
        width: 50px;
        transform: translateY(-10px);
      }
    }
    .navbar-toggler {
      font-size: 18px;
      border: none;
      &:focus {
        box-shadow: none;
      }
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      }
    }
    .navbar-nav {
      .nav-item {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        @media (min-width: 1400px) {
          padding-left: 1rem;
          padding-right: 1rem;
        }
        .nav-link {
          font-size: 18px;
          color: $white;
          border-bottom: 1px solid transparent;
          text-align: center;
          transition: all 0.3s;
          &.active {
            border-bottom: 1px solid $white;
          }
        }
        &:hover {
          .nav-link {
            border-bottom: 1px solid $white;
          }
        }
      }
    }
    .icons-perfil {
      font-size: 18px;
      text-align: center;
      a {
        transition: all .3s;
        &:hover {
          color: $gray;
        }
      }
      @media (min-width: 1200px) {
        width: 25vw;
        text-align: end;
      }
    }
  }
  .navbar-brand {
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    @media (min-width: 1200px) {
      width: 25vw;
    }
  }
}