<div class="section-dishes">
  <div class="container">
    <div class="row content-cards-menu">
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card text-center wow fadeInUp">
          <div class="row">
            <div class="col-6 col-md-12">
              <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
            </div>
            <div class="col-6 col-md-12">
              <div class="card-body">
                <h5 class="card-title">Pescado en salsa verde</h5>
                <p class="card-text">10,00€</p>
                <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Seleccionar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card text-center wow fadeInUp">
          <div class="row">
            <div class="col-6 col-md-12">
              <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
              <span class="text-triangulo">NUEVO</span>
            </div>
            <div class="col-6 col-md-12">
              <div class="card-body">
                <h5 class="card-title">Pescado en salsa verde</h5>
                <p class="card-text">10,00€</p>
                <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Seleccionar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card text-center wow fadeInUp">
          <div class="row">
            <div class="col-6 col-md-12">
              <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
            </div>
            <div class="col-6 col-md-12">
              <div class="card-body">
                <h5 class="card-title">Pescado en salsa verde</h5>
                <p class="card-text">10,00€</p>
                <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Seleccionar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card text-center wow fadeInUp">
          <div class="row">
            <div class="col-6 col-md-12">
              <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
              <span class="text-triangulo">NUEVO</span>
            </div>
            <div class="col-6 col-md-12">
              <div class="card-body">
                <h5 class="card-title">Pescado en salsa verde</h5>
                <p class="card-text">10,00€</p>
                <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Seleccionar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-diario">
      <div class="content-menu-diario">
        <h2 class="wow fadeInUp">Menú diario</h2>
        <div class="opcion-dish wow fadeInUp">
          <p class="text-izq mb-0">Escoge tus platos</p>
          <p class="text-der mb-0">Elige tus dos opciones preferidas; ¡incluso dos primeros o dos segundos!</p>
        </div>
      </div>
      <div class="row mt-4 cards-menu-diario">
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center wow fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/plato2.png" class="card-img-top" alt="plato">
                <div class="rectangle-1">Primero</div>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <p class="card-text sinPrice">Ensalada de judía blanca, cebolla roja, aceitunas negras y vinagreta de mostaza</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white2 btn-center-out" href="#">Seleccionar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center wow fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/plato2.png" class="card-img-top" alt="plato">
                <div class="rectangle-1">Primero</div>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <p class="card-text sinPrice">Ensalada con naranja, queso semi, dátiles y vinagreta de miel</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white2 btn-center-out" href="#">Seleccionar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center wow fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/plato2.png" class="card-img-top" alt="plato">
                <div class="rectangle-2">Segundo</div>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <p class="card-text sinPrice">Pescado a la plancha con papas arrugadas y mojo rojo</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white2 btn-center-out" href="#">Seleccionar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center wow fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/plato2.png" class="card-img-top" alt="plato">
                <div class="rectangle-2">Segundo</div>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <p class="card-text sinPrice">Ropa vieja</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white2 btn-center-out" href="#">Seleccionar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-12 content-menu-diario mb-4">
          <div class="opcion-dish wow fadeInUp">
            <p class="text-izq mb-0">Escoge tu postre</p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center wow fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/plato2.png" class="card-img-top" alt="plato">
                <div class="rectangle-3">Postre</div>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <p class="card-text sinPrice">Ensalada de judía blanca, cebolla roja, aceitunas negras y vinagreta de mostaza</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white2 btn-center-out" href="#">Seleccionar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="content-menu-diario mb-4">
          <div class="opcion-dish wow fadeInUp">
            <p class="text-izq mb-0">¿Qué tal un extra?</p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center wow fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/nada.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <p class="card-text">No gracias</p>
                  <p class="card-text price">0,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white2 btn-center-out" href="#">Seleccionar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center wow fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/plato2.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <p class="card-text">Cocacola Zero</p>
                  <p class="card-text price">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white2 btn-center-out" href="#">Seleccionar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center wow fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/plato2.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <p class="card-text">Postre extra</p>
                  <p class="card-text price">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white2 btn-center-out" href="#">Seleccionar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center wow fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/plato2.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <p class="card-text">Postre extra</p>
                  <p class="card-text price">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white2 btn-center-out" href="#">Seleccionar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-12 select-dish wow fadeInUp">
          <div class="row">
            <div class="col-12 col-md-9"></div>
            <div class="col-12 col-md-3">
              <div class="d-flex justify-content-between mt-4 align-items-center">
                <select class="form-select" aria-label="Default select example">
                  <option value="0">0</option>
                  <option value="10">10</option>
                  <option selected>20</option>
                  <option value="30">30</option>
                </select>
                <p class="total-price ms-3 mb-0">Total: <span>210,00€</span></p>
              </div>
              <div class="text-center mt-3">
                <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out w-100 pe-5 ps-5" href="#">Añadir</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>