<div class="section-form py-5" style="background-image: url(assets/images/menu/bg-form.png);">
  <img class="miselaneo" src="assets/images/menu/img-form.png" alt="Miselaneo">
  <div class="container">
    <h2 class="wow fadeInUp">¿Necesitas un menú personalizado?</h2>
    <form class="wow fadeInUp">
      <div class="row">
        <div class="col-12 col-md-6 mt-3">
          <input type="text" class="form-control" name="name" id="name" placeholder="Nombre y Apellidos" required="">
        </div>
        <div class="col-12 col-md-6 mt-3">
          <input type="email" class="form-control" name="email" id="email" placeholder="Email" required="">
        </div>
        <div class="col-12 col-md-6 mt-3">
          <input type="text" class="form-control" name="comensales" id="comensales" placeholder="Número de comensales" required="">
        </div>
        <div class="col-12 col-md-6 mt-3">
          <input type="text" class="form-control" name="telefono" id="telefono" placeholder="Teléfono de contacto" required="">
        </div>
        <div class="col-12 mt-3">
          <textarea class="form-control" name="observaciones" id="observaciones" placeholder="Observaciones" rows="5" required=""></textarea>
        </div>
        <div class="col-12">
          <small>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae consequuntur quo nihil magni fuga perspiciatis eos? Nisi, rerum recusandae quos reiciendis exercitationem quia! Praesentium sint non cum dolorem facere odio blanditiis nobis. Quidem nisi cumque quae, atque saepe, blanditiis nobis iure at explicabo quisquam minus sunt odit ullam, ipsum magnam cum sapiente earum optio ipsa exercitationem dolorum delectus qui reprehenderit.
          </small>
        </div>
        <div class="col-12 col-sm-6 offset-sm-6 col-md-4 offset-md-8 col-lg-3 offset-lg-9 mt-3">
          <a type="submit" class="btn btn-custom btn-rounded btn-blue-white btn-center-out w-100 pe-5 ps-5" href="#"">Enviar</a>
        </div>
      </div>
    </form>
  </div>
</div>