<div class="section-welcome-menu">
  <div class="content-text-menu">
    <div class="container">
      <div class="row text-menu">
        <div class="col-12 col-md-6 col-left">
          <p class="title-menu wow fadeInUp">menús</p>
        </div>
        <div class="col-12 col-md-6 col-right">
          <p class="mb-0 wow fadeInUp">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus saepe tenetur, illo, omnis dolorum similique rerum officia fuga, magni doloremque corrupti nemo voluptas perferendis quisquam!</p>
        </div>
      </div>
    </div>
  </div>
</div>