<div class="section-dishes py-5">
  <div class="container">
    <div class="row mb-3">
      <div class="col-6 col-sm-8 col-md-9">
        <p class="mb-0">1-24 de 27 resultados</p>
      </div>
      <div class="col-6 col-sm-4 col-md-3 d-grid gap-2">
        <div class="filter btn-group" role="group">
          <button type="button" class="btn w-50" disabled>Ordenar por:</button>
          <div class="btn-group w-50" role="group">
            <button id="filter-order" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Destacados
            </button>
            <ul class="dropdown-menu" aria-labelledby="filter-order">
              <li><a class="dropdown-item" href="#">Destacados</a></li>
              <li><a class="dropdown-item" href="#">Precio</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row content-cards-menu">
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card text-center wow fadeInUp">
          <div class="row">
            <div class="col-6 col-md-12">
              <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
            </div>
            <div class="col-6 col-md-12">
              <div class="card-body">
                <h5 class="card-title">Pescado en salsa verde</h5>
                <p class="card-text">10,00€</p>
                <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card text-center wow fadeInUp">
          <div class="row">
            <div class="col-6 col-md-12">
              <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
            </div>
            <div class="col-6 col-md-12">
              <div class="card-body">
                <h5 class="card-title">Pescado en salsa verde</h5>
                <p class="card-text">10,00€</p>
                <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card text-center wow fadeInUp">
          <div class="row">
            <div class="col-6 col-md-12">
              <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
            </div>
            <div class="col-6 col-md-12">
              <div class="card-body">
                <h5 class="card-title">Pescado en salsa verde</h5>
                <p class="card-text">10,00€</p>
                <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card text-center wow fadeInUp">
          <div class="row">
            <div class="col-6 col-md-12">
              <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
            </div>
            <div class="col-6 col-md-12">
              <div class="card-body">
                <h5 class="card-title">Pescado en salsa verde</h5>
                <p class="card-text">10,00€</p>
                <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card text-center wow fadeInUp">
          <div class="row">
            <div class="col-6 col-md-12">
              <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
            </div>
            <div class="col-6 col-md-12">
              <div class="card-body">
                <h5 class="card-title">Pescado en salsa verde</h5>
                <p class="card-text">10,00€</p>
                <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card text-center wow fadeInUp">
          <div class="row">
            <div class="col-6 col-md-12">
              <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              <div class="triangulo"></div>
              <span class="text-triangulo">NUEVO</span>
            </div>
            <div class="col-6 col-md-12">
              <div class="card-body">
                <h5 class="card-title">Pescado en salsa verde</h5>
                <p class="card-text">10,00€</p>
                <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card text-center wow fadeInUp">
          <div class="row">
            <div class="col-6 col-md-12">
              <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
            </div>
            <div class="col-6 col-md-12">
              <div class="card-body">
                <h5 class="card-title">Pescado en salsa verde</h5>
                <p class="card-text">10,00€</p>
                <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card text-center wow fadeInUp">
          <div class="row">
            <div class="col-6 col-md-12">
              <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              <div class="triangulo"></div>
              <span class="text-triangulo">NUEVO</span>
            </div>
            <div class="col-6 col-md-12">
              <div class="card-body">
                <h5 class="card-title">Pescado en salsa verde</h5>
                <p class="card-text">10,00€</p>
                <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-5">
        <ul class="pagination">
          <li><a href="#">« Anterior</a></li>
          <li><a class="active" href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">Siguiente »</a></li>
        </ul>
      </div>
  </div>
</div>