<div class="section-footer1 py-5">
  <div class="container">
    <div class="content-footer row mx-auto">
      <div class="col-12 col-md-34">
        <h5>Contacto</h5>
        <ul>
          <li>
            <p class="mb-0">
              Av. Pintor Felo Monzón 38, local 8 Siete Palmas, Las Palmas de Gran Canaria
            </p>
          </li>
          <li>
            <p class="mb-0">
              Teléfono: <a href="tel:+34645742697" class="items-menu">+34 645 742 697</a>
            </p>
          </li>
          <li>
            <p class="mb-0">
              Email: <a href="mailto:info@medialunacatering.es" class="items-menu">info@medialunacatering.es</a>
            </p>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-22">
        <h5>Servicios</h5>
        <ul>
          <li>
            <a href="menu.html" class="items-menu">Menú</a>
          </li>
          <li>
            <a href="catering.html" class="items-menu">Catering</a>
          </li>
          <li>
            <a href="tienda.html" class="items-menu">Tienda</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-22">
        <h5>Legal</h5>
        <ul>
          <li>
            <a href="#" class="items-menu">Cookies</a>
          </li>
          <li>
            <a href="#" class="items-menu">Privacidad</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-22">
        <h5>Nuestras Redes</h5>
        <div id="redes">
          <a class="me-2" href="https://www.instagram.com/lacocinademedialuna/?hl=es" target="_blank">
            <div class="red ig">
              <img src="assets/images/icons/instagram.svg" alt="instagram">
            </div>
          </a>
          <a class="me-2" href="https://es-es.facebook.com/lacocinademedialuna/" target="_blank">
            <div class="red fb">
              <img src="assets/images/icons/facebook.svg" alt="facebook">
            </div>
          </a>
          <a class="me-2" href="https://www.tripadvisor.es/Restaurant_Review-g187472-d15617001-Reviews-La_Cocina_de_Medialuna-Las_Palmas_de_Gran_Canaria_Gran_Canaria_Canary_Islands.html" target="_blank">
            <div class="red ta">
              <img src="assets/images/icons/tripadvisor.svg" alt="tripadvisor">
            </div>
          </a>
          <a class="me-2" href="https://www.just-eat.es/restaurants-la-cocina-de-medialuna-palmas-de-gran-canaria-las/menu/?gclid=CjwKCAjwuvmHBhAxEiwAWAYj-LBHOUQYSgi-i86QPa0xmXMjvY8yduGsiUPMA_G7Qlp2ar5UcIjqWhoC0AsQAvD_BwE&gclsrc=aw.ds" target="_blank">
            <div class="red go">
              <img src="assets/images/icons/google.svg" alt="Google">
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-footer2">
  <div class="text-center">
    <img class="img-fluid" src="assets/images/icons/pago1.png" alt="dish">
    <img class="img-fluid" src="assets/images/icons/pago2.png" alt="dish">
    <img class="img-fluid" src="assets/images/icons/pago3.png" alt="dish">
    <img class="img-fluid" src="assets/images/icons/pago4.png" alt="dish">
  </div>
</div>
<div class="section-footer3">
  <div class="container d-flex align-items-center justify-content-between">
    <small>
      <p class="mb-0">
        &copy; 2021 La Cocina de Medialuna SL Todos los derechos reservados  
      </p>
    </small>
    <small>
      <p class="mb-0">
        Web diseñada por <a href="https://www.volcanstudio.com/" target="_blank">Volcán Studio</a>
      </p>
    </small>
  </div>
</div>