<div class="section-footer1 py-5">
  <div class="container">
    <div class="content-footer row mx-auto">
      <div class="col-12 col-md-25">
        <h5>Nosotros</h5>
        <ul>
          <li>
            <a href="#" class="items-menu">Sección</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-25">
        <h5>Servicios</h5>
        <ul>
          <li>
            <a href="#" class="items-menu">Sección</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-25">
        <h5>Legal</h5>
        <ul>
          <li>
            <a href="#" class="items-menu">Sección</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-25">
        <h5>Nuestras Redes</h5>
        <div id="redes">
          <a class="me-2" href="">
            <div class="red fb">
              <img src="assets/images/icons/facebook.png" alt="facebook">
            </div>
          </a>
          <a class="me-2" href="">
            <div class="red ig">
              <img src="assets/images/icons/instagram.png" alt="instagram">
            </div>
          </a>
          <a class="me-2" href="">
            <div class="red ta">
              <img src="assets/images/icons/tripadvisor.png" alt="tripadvisor">
            </div>
          </a>
          <a class="me-2" href="">
            <div class="red go">
              <img src="assets/images/icons/google.svg" alt="Google">
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-footer2">
  <div class="text-center">
    <img class="img-fluid" src="assets/images/icons/pago1.png" alt="dish">
    <img class="img-fluid" src="assets/images/icons/pago2.png" alt="dish">
    <img class="img-fluid" src="assets/images/icons/pago3.png" alt="dish">
    <img class="img-fluid" src="assets/images/icons/pago4.png" alt="dish">
  </div>
</div>
<div class="section-footer3">
  <div class="container d-flex align-items-center justify-content-between">
    <small>
      <p class="mb-0">
        &copy; 2021 La Cocina de Medialuna SL Todos los derechos reservados  
      </p>
    </small>
    <small>
      <p class="mb-0">
        Web diseñada por Volcán Studio 
      </p>
    </small>
  </div>
</div>