<div id="menu-semanal" class="modal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center">
          <img src="assets/images/logo.png" alt="logo">
          <h2 class="mb-0">La Cocina de Medialuna</h2>
        </div>
        <div class="title-text">
          <p>Menú semanal</p>
          <p>24 al 28 de Mayo de 2021</p>
        </div>
      </div>
      <div class="modal-body">
        <div class="contenedor-menu">
          <div class="row">
            <p class="title-card-menu">Lunes</p>
            <div class="col-4">
              <div class="primero">Primero</div>
              <div class="descrip-menu-semanal">
                <p>Ensalada con naranja, queso semi, dátiles y vinagreta de miel.</p>
                <p>Ensalada con naranja, queso semi, dátiles y vinagreta de miel.</p>
              </div>
            </div>
            <div class="col-4">
              <div class="primero">Segundo</div>
              <div class="descrip-menu-semanal">
                <p>Ensalada con naranja, queso semi, dátiles y vinagreta de miel.</p>
                <p>Ensalada con naranja, queso semi, dátiles y vinagreta de miel.</p>
              </div>
            </div>
            <div class="col-4">
              <div class="primero">Postre</div>
              <div class="descrip-menu-semanal">
                <p>Ensalada con naranja, queso semi, dátiles y vinagreta de miel.</p>
                <p>Ensalada con naranja, queso semi, dátiles y vinagreta de miel.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="contenedor-menu">
          <div class="row">
            <p class="title-card-menu">Martes</p>
            <div class="col-4">
              <div class="primero">Primero</div>
              <div class="descrip-menu-semanal">
                <p>Ensalada con naranja, queso semi, dátiles y vinagreta de miel.</p>
                <p>Ensalada con naranja, queso semi, dátiles y vinagreta de miel.</p>
              </div>
            </div>
            <div class="col-4">
              <div class="primero">Segundo</div>
              <div class="descrip-menu-semanal">
                <p>Ensalada con naranja, queso semi, dátiles y vinagreta de miel.</p>
                <p>Ensalada con naranja, queso semi, dátiles y vinagreta de miel.</p>
              </div>
            </div>
            <div class="col-4">
              <div class="primero">Postre</div>
              <div class="descrip-menu-semanal">
                <p>Ensalada con naranja, queso semi, dátiles y vinagreta de miel.</p>
                <p>Ensalada con naranja, queso semi, dátiles y vinagreta de miel.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="contenedor-menu">
          <div class="row">
            <p class="title-card-menu">Miércoles</p>
            <div class="col-4">
              <div class="primero">Primero</div>
              <div class="descrip-menu-semanal">
                <p>Ensalada con naranja, queso semi, dátiles y vinagreta de miel.</p>
                <p>Ensalada con naranja, queso semi, dátiles y vinagreta de miel.</p>
              </div>
            </div>
            <div class="col-4">
              <div class="primero">Segundo</div>
              <div class="descrip-menu-semanal">
                <p>Ensalada con naranja, queso semi, dátiles y vinagreta de miel.</p>
                <p>Ensalada con naranja, queso semi, dátiles y vinagreta de miel.</p>
              </div>
            </div>
            <div class="col-4">
              <div class="primero">Postre</div>
              <div class="descrip-menu-semanal">
                <p>Ensalada con naranja, queso semi, dátiles y vinagreta de miel.</p>
                <p>Ensalada con naranja, queso semi, dátiles y vinagreta de miel.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="contenedor-menu">
          <div class="row">
            <p class="title-card-menu">Jueves</p>
            <div class="col-4">
              <div class="primero">Primero</div>
              <div class="descrip-menu-semanal">
                <p>Ensalada con naranja, queso semi, dátiles y vinagreta de miel.</p>
                <p>Ensalada con naranja, queso semi, dátiles y vinagreta de miel.</p>
              </div>
            </div>
            <div class="col-4">
              <div class="primero">Segundo</div>
              <div class="descrip-menu-semanal">
                <p>Ensalada con naranja, queso semi, dátiles y vinagreta de miel.</p>
                <p>Ensalada con naranja, queso semi, dátiles y vinagreta de miel.</p>
              </div>
            </div>
            <div class="col-4">
              <div class="primero">Postre</div>
              <div class="descrip-menu-semanal">
                <p>Ensalada con naranja, queso semi, dátiles y vinagreta de miel.</p>
                <p>Ensalada con naranja, queso semi, dátiles y vinagreta de miel.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="contenedor-menu">
          <div class="row">
            <p class="title-card-menu">Viernes</p>
            <div class="col-4">
              <div class="primero">Primero</div>
              <div class="descrip-menu-semanal">
                <p>Ensalada con naranja, queso semi, dátiles y vinagreta de miel.</p>
                <p>Ensalada con naranja, queso semi, dátiles y vinagreta de miel.</p>
              </div>
            </div>
            <div class="col-4">
              <div class="primero">Segundo</div>
              <div class="descrip-menu-semanal">
                <p>Ensalada con naranja, queso semi, dátiles y vinagreta de miel.</p>
                <p>Ensalada con naranja, queso semi, dátiles y vinagreta de miel.</p>
              </div>
            </div>
            <div class="col-4">
              <div class="primero">Postre</div>
              <div class="descrip-menu-semanal">
                <p>Ensalada con naranja, queso semi, dátiles y vinagreta de miel.</p>
                <p>Ensalada con naranja, queso semi, dátiles y vinagreta de miel.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="contenedor-footer">
          <div>
            <p>Horario de lunes a viernes de 8.00 a 16.00</p>
            <p>828 048 232 / 615 054 511</p>
          </div>
          <div>
            <p>Av. Pintor Felo Monzón 38, local 8, Siete Palmas,</p>
            <p>Las Palmas de Gran Canaria</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>