<div id="modal-suscribe" class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="row m-0">
        <div class="img-suscribe col-5">
        </div>
        <div class="content-suscribe col-7">
          <div class="modal-header pb-0">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              <i class="fa fa-times"></i>
            </button>
          </div>
          <div class="modal-body text-center pt-0">
            <h2 class="title">¡No te lo pierdas!</h2>
            <h5 class="subtitle">recibe cada lunes<br>nuestro menú semanal</h5>
            <form class="w-75 mx-auto">
              <div class="mb-3">
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="nombre">
              </div>
              <div class="mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="email">
              </div>
              <div class="mb-3">
                <input type="text" class="form-control" id="telefono" name="telefono" placeholder="teléfono de contacto">
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                  He leído y acepto la <a href="legal.html">política de privacidad</a>
                </label>
              </div>
            </form>
            <a type="submit" class="btn btn-custom btn-rounded btn-blue-white btn-center-out px-5" href="#">suscribirme</a>
            <p class="small text-start mt-3">
              En cumplimiento de lo establecido en el RGPD y la LOPD-GDD, le informamos de que los datos personales recabados por La Cocina de Medialuna mediante este formulario quedarán incorporados y serán tratados en nuestro ficheros con el fin de poder realizar nuestros servicios, así como informarle en el futuro sobre ellos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>