<div class="section-delivery">
  <div class="text-center">
    <p class="title-delivery wow fadeInUp">¿en casa o en oficina?</p>
    <div class="content-text wow fadeInUp">
      <p class="text-delivery mb-0">llegamos a donde lo necesites</p>
    </div>
    <div class="row mt-3">
      <div class="col-3 offset-3 col-md-3 offset-md-3">
        <a class="dish" href="#">
          <img class="wow fadeInLeft img-fluid" src="assets/images/home/dish.png" alt="dish">
        </a>
        <p class="mt-2 wow fadeInLeft">Just It te lo lleva</p>
      </div>
      <div class="col-3 col-md-3">
        <a class="dish" href="#">
          <img class="wow fadeInRight img-fluid" src="assets/images/home/dish.png" alt="dish">
        </a>
        <p class="mt-2 wow fadeInRight">Te lo llevamos nosotros</p>
      </div>
    </div>
  </div>
</div>