<div class="section-delivery">
  <div class="text-center">
    <p class="title-delivery wow fadeInUp">¿en casa o en oficina?</p>
    <div class="content-text wow fadeInUp">
      <p class="text-delivery mb-0">llegamos a donde lo necesites</p>
    </div>
    <div class="d-flex justify-content-center w-75 mx-auto">
      <div class="me-5">
        <a class="dish" href="#">
          <img class="wow fadeInLeft img-fluid" src="assets/images/home/delivery1.png" alt="Delivery">
        </a>
        <p class="text-gray-light mt-2 wow fadeInLeft">Just It te lo lleva</p>
      </div>
      <div class="ms-5">
        <a class="dish" href="#">
          <img class="wow fadeInLeft img-fluid" src="assets/images/home/delivery1.png" alt="Delivery">
        </a>
        <p class="text-gray-light mt-2 wow fadeInLeft">Just It te lo lleva</p>
      </div>
    </div>
  </div>
</div>