<div class="section-hablamos pt-5">
  <div class="container">
    <div class="row content-map">
      <div class="col-md-7 col-lg-8 p-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3519.5093437663604!2d-15.456290149150247!3d28.10050571462516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xc40944d343e5711%3A0xa330b85a403c9199!2sLa%20Cocina%20de%20MediaLuna!5e0!3m2!1ses!2ses!4v1626798000993!5m2!1ses!2ses" frameborder="0" style="border: 0; width: 100%; height: 350px" allowfullscreen=""></iframe>
      </div>
      <div class="col-md-5 col-lg-4 p-0 content-text-map">
        <div class="p-5 text-center">
          <h3 class="title-map">¿hablamos?</h3>
          <p class="text-map">
            <a href="https://goo.gl/maps/oNKYBN2FziLEDU5Q9">Av. Pintor Felo Monzón 38, <br>Las Palmas de Gran Canaria</a>
          </p>
          <p class="text-map">
            <a href="tel:34828048232">+34 828 04 82 32</a>
          </p>
          <p class="text-map">
            <a href="mailto:correo@correo.es">correo@correo.es</a>
          </p>
        </div>
      </div>
    </div>
    <div class="text-instagram text-center">
      <p class="text-ig">sigue nuestro día a día en Instagram</p>
    </div>
    <div class="galeria">
      <img class="img-fluid wow fadeIn" src="assets/images/home/galeria-ig/1.jpg" alt="foto1">
      <img class="img-fluid wow fadeIn" src="assets/images/home/galeria-ig/2.jpg" alt="foto2">
      <img class="img-fluid wow fadeIn" src="assets/images/home/galeria-ig/3.jpg" alt="foto3">
      <img class="img-fluid wow fadeIn" src="assets/images/home/galeria-ig/4.jpg" alt="foto4">
      <img class="img-fluid wow fadeIn" src="assets/images/home/galeria-ig/5.jpg" alt="foto5">
      <img class="img-fluid wow fadeIn" src="assets/images/home/galeria-ig/6.jpg" alt="foto6">
    </div>
  </div>
</div>