<section class="section-menu py-5">
  <div class="container">
    
    <div class="category-tab tab">
      <div>
        <button class="tablinks active" onclick="openCity(event, 'Categoría1')">Categoría1</button>
      </div>
      <div>
        <button class="tablinks" onclick="openCity(event, 'Categoría2')">Categoría2</button>
      </div>
      <div>
        <button class="tablinks" onclick="openCity(event, 'Categoría3')">Categoría3</button>
      </div>
      <div>
        <button class="tablinks" onclick="openCity(event, 'Categoría4')">Categoría4</button>
      </div>
      <div>
        <button class="tablinks" onclick="openCity(event, 'Categoría5')">Categoría5</button>
      </div>
      <div>
        <button class="tablinks" onclick="openCity(event, 'Categoría6')">Categoría6</button>
      </div>
    </div>
    
    <!-- <div class="tab">
      <button class="tablinks active" onclick="openCity(event, 'Categoría1')">Categoría1</button>
      <button class="tablinks" onclick="openCity(event, 'Categoría2')">Categoría2</button>
      <button class="tablinks" onclick="openCity(event, 'Categoría3')">Categoría3</button>
      <button class="tablinks" onclick="openCity(event, 'Categoría4')">Categoría4</button>
      <button class="tablinks" onclick="openCity(event, 'Categoría5')">Categoría5</button>
    </div> -->
    
    <hr class="hr-tab">
    <div id="Categoría1" class="tabcontent tab-ppal">
      <!-- <div class="row">
        <div class="col-12 col-sm-6 offset-sm-6 col-lg-3 offset-lg-9">
          <div class="content-btn-anadir text-end wow fadeInRight">
            <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
          </div>
        </div>
      </div> -->
      <div class="content-cards-menu row mt-5 wow fadeIn slow">
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-5 wow fadeInDown">
        <ul class="pagination">
          <div>
            <li><a class="prev" href="#"><i class="fa fa-angle-left"></i> Anterior</a></li>
          </div>
          <div>
            <li><a class="active" href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
          </div>
          <div>
            <li><a class="next" href="#">Siguiente <i class="fa fa-angle-right"></i></a></li>
          </div>
        </ul>
      </div>
    </div>
    
    <div id="Categoría2" class="tabcontent">
      <div class="content-cards-menu row mt-5">
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-5">
        <ul class="pagination">
          <div>
            <li><a class="prev" href="#"><i class="fa fa-angle-left"></i> Anterior</a></li>
          </div>
          <div>
            <li><a class="active" href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
          </div>
          <div>
            <li><a class="next" href="#">Siguiente <i class="fa fa-angle-right"></i></a></li>
          </div>
        </ul>
      </div>
    </div>
    
    <div id="Categoría3" class="tabcontent">
      <div class="content-cards-menu row mt-5">
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-5">
        <ul class="pagination">
          <div>
            <li><a class="prev" href="#"><i class="fa fa-angle-left"></i> Anterior</a></li>
          </div>
          <div>
            <li><a class="active" href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
          </div>
          <div>
            <li><a class="next" href="#">Siguiente <i class="fa fa-angle-right"></i></a></li>
          </div>
        </ul>
      </div>
    </div>
    
    <div id="Categoría4" class="tabcontent">
      <div class="content-cards-menu row mt-5">
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-5">
        <ul class="pagination">
          <div>
            <li><a class="prev" href="#"><i class="fa fa-angle-left"></i> Anterior</a></li>
          </div>
          <div>
            <li><a class="active" href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
          </div>
          <div>
            <li><a class="next" href="#">Siguiente <i class="fa fa-angle-right"></i></a></li>
          </div>
        </ul>
      </div>
    </div>
    
    <div id="Categoría5" class="tabcontent">
      <div class="content-cards-menu row mt-5">
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-5">
        <ul class="pagination">
          <div>
            <li><a class="prev" href="#"><i class="fa fa-angle-left"></i> Anterior</a></li>
          </div>
          <div>
            <li><a class="active" href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
          </div>
          <div>
            <li><a class="next" href="#">Siguiente <i class="fa fa-angle-right"></i></a></li>
          </div>
        </ul>
      </div>
    </div>
    
    <div id="Categoría6" class="tabcontent">
      <div class="content-cards-menu row mt-5">
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-5">
        <ul class="pagination">
          <div>
            <li><a class="prev" href="#"><i class="fa fa-angle-left"></i> Anterior</a></li>
          </div>
          <div>
            <li><a class="active" href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
          </div>
          <div>
            <li><a class="next" href="#">Siguiente <i class="fa fa-angle-right"></i></a></li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</section>