<div id="section2" class="section2 py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 mb-5 mb-lg-0">
        <div class="content-img">
          <!-- <img class="img-base img-fluid wow fadeInLeft" src="assets/images/home/sec2-1.png" alt="foto1">
          <img class="img-fluid wow fadeInLeft delay-200" src="assets/images/home/sec2-2.png" alt="foto2">
          <img class="img-fluid wow fadeInLeft delay-400" src="assets/images/home/sec2-3.png" alt="foto3">
          <img class="img-fluid wow fadeInLeft delay-600" src="assets/images/home/sec2-4.png" alt="foto4">
          <img class="img-fluid wow fadeInLeft delay-800" src="assets/images/home/sec2-5.png" alt="foto5"> -->
          <img class="img-fluid wow fadeInLeft delay-800" src="assets/images/home/sec2-5.png" alt="foto5">
          <img class="img-fluid wow fadeInLeft delay-600" src="assets/images/home/sec2-4.png" alt="foto4">
          <img class="img-fluid wow fadeInLeft delay-400" src="assets/images/home/sec2-1.png" alt="foto1">
          <img class="img-fluid wow fadeInLeft delay-200" src="assets/images/home/sec2-2.png" alt="foto2">
          <img class="img-base img-fluid wow fadeInLeft" src="assets/images/home/sec2-3.png" alt="foto3">
        </div> 
      </div>
      <div class="col-12 col-lg-5 offset-lg-1 col-right">
        <p class="title wow fadeInRight">PASIÓN POR LA COMIDA</p>
        <h2 class="subtitle wow fadeInRight">medialuna</h2>
        <p class="text wow fadeInRight">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum temporibus eligendi possimus porro illo praesentium reprehenderit sint nam impedit quam ipsa maxime expedita repellat animi minima dolores inventore, asperiores in?</p>
        <p class="text wow fadeInRight">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia est inventore itaque facilis. Excepturi, vitae?</p>
      </div>
    </div>
  </div>
</div>