<div class="section-welcome position-relative">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image: url(assets/images/home/welcome/banner-slide1.jpg);">
        <div class="content-card">
          <div class="row">
            <div class="col-12 col-lg-8 col-xl-6 cuadro-welcome">
              <img src="assets/images/home/welcome/mancha.png" alt="mancha">
              <h1>Medialuna</h1>
              <p class="mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum quibusdam sapiente praesentium suscipit eveniet non culpa ipsa obcaecati dicta. Asperiores.</p>
              <div class="text-end">
                <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out mt-3" href="#">Añadir</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url(assets/images/home/welcome/banner-slide2.jpg);">
        <div class="content-card">
          <div class="row">
            <div class="col-12 col-lg-8 col-xl-6 cuadro-welcome">
              <img src="assets/images/home/welcome/mancha.png" alt="mancha">
              <h1>Medialuna</h1>
              <p class="mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum quibusdam sapiente praesentium suscipit eveniet non culpa ipsa obcaecati dicta. Asperiores.</p>
              <div class="text-end">
                <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out mt-3" href="#">Añadir</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url(assets/images/home/welcome/banner-slide3.jpg);">
        <div class="content-card">
          <div class="row">
            <div class="col-12 col-lg-8 col-xl-6 cuadro-welcome">
              <img src="assets/images/home/welcome/mancha.png" alt="mancha">
              <h1>Medialuna</h1>
              <p class="mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum quibusdam sapiente praesentium suscipit eveniet non culpa ipsa obcaecati dicta. Asperiores.</p>
              <div class="text-end">
                <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out mt-3" href="#">Añadir</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="curva">
    <img src="assets/images/home/welcome/curva-welcome.png" alt="curva">
  </div>
  <!-- <div class="mancha d-none d-md-block">
    <img src="assets/images/home/welcome/manchaonda.png" alt="mancha">
  </div> -->
  <a href="#section2" class="box">
    <span></span>
    <span></span>
  </a>
</div>

