<div class="section-dishes">
  <div class="container">
    <div class="tab">
      <button class="tablinks active" onclick="openCity(event, 'Categoría1')">Categoría1</button>
      <button class="tablinks" onclick="openCity(event, 'Categoría2')">Categoría2</button>
      <button class="tablinks" onclick="openCity(event, 'Categoría3')">Categoría3</button>
      <button class="tablinks" onclick="openCity(event, 'Categoría4')">Categoría4</button>
    </div>
    <hr class="hr-tab">
    <div id="Categoría1" class="tabcontent tab-ppal">
      <div class="row mb-3">
        <div class="col-12 col-sm-6">
          <p class="mb-0">1-24 de 27 resultados</p>
        </div>
        <div class="col-12 col-sm-6 text-end mt-3 mt-sm-0">
          <div class="filter btn-group" role="group">
            <button type="button" class="label-filter-order btn py-0" disabled>Ordenar por:</button>
            <div class="btn-group" role="group">
              <button id="filter-order" type="button" class="btn dropdown-toggle py-0" data-bs-toggle="dropdown" aria-expanded="false">
                Destacados<i class="fa fa-angle-down ms-3"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="filter-order">
                <li><a class="dropdown-item" href="#">Destacados</a></li>
                <li><a class="dropdown-item" href="#">Precio</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row content-cards-menu">
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-5">
        <ul class="pagination">
          <div>
            <li><a class="prev" href="#"><i class="fa fa-angle-left"></i> Anterior</a></li>
          </div>
          <div>
            <li><a class="active" href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
          </div>
          <div>
            <li><a class="next" href="#">Siguiente <i class="fa fa-angle-right"></i></a></li>
          </div>
        </ul>
      </div>
    </div>
    <div id="Categoría2" class="tabcontent">
      <div class="row mb-3">
        <div class="col-6 col-sm-8 col-md-9">
          <p class="mb-0">1-24 de 27 resultados</p>
        </div>
        <div class="col-6 col-sm-4 col-md-3 d-grid gap-2">
          <div class="filter btn-group" role="group">
            <button type="button" class="btn w-50" disabled>Ordenar por:</button>
            <div class="btn-group w-50" role="group">
              <button id="filter-order" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Destacados
              </button>
              <ul class="dropdown-menu" aria-labelledby="filter-order">
                <li><a class="dropdown-item" href="#">Destacados</a></li>
                <li><a class="dropdown-item" href="#">Precio</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row content-cards-menu">
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-5">
        <ul class="pagination">
          <div>
            <li><a class="prev" href="#"><i class="fa fa-angle-left"></i> Anterior</a></li>
          </div>
          <div>
            <li><a class="active" href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
          </div>
          <div>
            <li><a class="next" href="#">Siguiente <i class="fa fa-angle-right"></i></a></li>
          </div>
        </ul>
      </div>
    </div>
    <div id="Categoría3" class="tabcontent">
      <div class="row mb-3">
        <div class="col-6 col-sm-8 col-md-9">
          <p class="mb-0">1-24 de 27 resultados</p>
        </div>
        <div class="col-6 col-sm-4 col-md-3 d-grid gap-2">
          <div class="filter btn-group" role="group">
            <button type="button" class="btn w-50" disabled>Ordenar por:</button>
            <div class="btn-group w-50" role="group">
              <button id="filter-order" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Destacados
              </button>
              <ul class="dropdown-menu" aria-labelledby="filter-order">
                <li><a class="dropdown-item" href="#">Destacados</a></li>
                <li><a class="dropdown-item" href="#">Precio</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row content-cards-menu">
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-5">
        <ul class="pagination">
          <div>
            <li><a class="prev" href="#"><i class="fa fa-angle-left"></i> Anterior</a></li>
          </div>
          <div>
            <li><a class="active" href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
          </div>
          <div>
            <li><a class="next" href="#">Siguiente <i class="fa fa-angle-right"></i></a></li>
          </div>
        </ul>
      </div>
    </div>
    <div id="Categoría4" class="tabcontent">
      <div class="row mb-3">
        <div class="col-6 col-sm-8 col-md-9">
          <p class="mb-0">1-24 de 27 resultados</p>
        </div>
        <div class="col-6 col-sm-4 col-md-3 d-grid gap-2">
          <div class="filter btn-group" role="group">
            <button type="button" class="btn w-50" disabled>Ordenar por:</button>
            <div class="btn-group w-50" role="group">
              <button id="filter-order" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Destacados
              </button>
              <ul class="dropdown-menu" aria-labelledby="filter-order">
                <li><a class="dropdown-item" href="#">Destacados</a></li>
                <li><a class="dropdown-item" href="#">Precio</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row content-cards-menu">
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="card text-center animated fadeInUp">
            <div class="row">
              <div class="col-6 col-md-12">
                <img src="assets/images/home/plato.png" class="card-img-top" alt="plato">
                <img src="assets/images/home/triangulo.png" alt="Triangulo" class="triangulo">
                <span class="text-triangulo">NUEVO</span>
              </div>
              <div class="col-6 col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Pescado en salsa verde</h5>
                  <p class="card-text">10,00€</p>
                  <a class="btn btn-custom btn-rounded btn-blue-white btn-center-out" href="#">Añadir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-5">
        <ul class="pagination">
          <div>
            <li><a class="prev" href="#"><i class="fa fa-angle-left"></i> Anterior</a></li>
          </div>
          <div>
            <li><a class="active" href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
          </div>
          <div>
            <li><a class="next" href="#">Siguiente <i class="fa fa-angle-right"></i></a></li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>